body {
    background-color: #F5DEB3;
}

h1 {
    font-size: 80px;
}

.wrapper {
    max-width: 800px;
    padding: 40px;
    margin: 60px auto;
    margin-top: 20px;
    background-color: white;
}

.nav-links {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-bottom: 20px;
}

.pic-1 {
    width: 500px;
    height: auto;
    margin:  20px;
}