body {
    background-image: url(/images/croissant-bg.jpg);
}

h1 {
    font-size: 80px;
}

.wrapper {
    max-width: 800px;
    padding: 40px;
    margin: 60px auto;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: white;
}

.nav-links {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-bottom: 20px;
}

.nav-link-color {
    color: #54340f;
}

figcaption {
    color: gray;
    text-align: center;
    font-size: 15px;
}

p {
    font-size: 18px;
}

.footer {
    color: black;
    max-width: 800px;
    font-size: 12px !important;
    margin: 0px auto;
}